<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timeslot erstellen</title>
    <link
      rel="stylesheet"
      href="css/terminverwaltung/terminverwaltung-timeslot-erstellen.css"
    />
    <script src="javascript/praesentationsschicht/messages/messages.js"></script>
  </head>

  <body>
    <div class="header">
      <div class="left">
        <img
          src="path/to/your/profile-picture"
          alt="Profilbild"
          class="profile-picture"
        />
      </div>
      <div class="middle">
			<button class="nav-button" id="startseiteNavBarButton">Startseite</button>
			<button class="nav-button" id="benutzerverwaltungNavBarButton">Benutzerverwaltung</button>
			<button class="nav-button" id="autoverwaltungNavBarButton">Autoverwaltung</button>
			<button class="nav-button active" id="terminverwaltungNavBarButton">Terminverwaltung</button>
		</div>
		<div class="right">
			<button class="nav-button" id="kontoNavBarButton">Konto</button>
			<button class="nav-button" id="agbNavBarButton">AGB</button>
			<button class="nav-button" id="impressumNavBarButton">Impressum</button>
		</div>
    </div>
    <div class="body">
      <h1 id="timeslotErstellenButton">Terminslot erstellen</h1>
      <button id="add-card-btn">Neue Timeslot-Card hinzufügen</button>
      <div id="cards-container"></div>
      <button type="submit" id="submit-timeslots">Timeslots hinzufügen</button>
    </div>
    <script src="javascript/anwendungsschicht/navigation/navigation.js"></script>
    <script src="javascript/anwendungsschicht/terminverwaltung/anwendungsschicht-terminverwaltung-timeslot-erstellen.js"></script>
    <script src="javascript/datenschicht/terminverwaltung/datenschicht-terminverwaltung-timeslot-erstellen.js"></script>
    <script src="javascript/praesentationsschicht/terminverwaltung/praesentationsschicht-terminverwaltung-timeslot-erstellen.js"></script>
  </body>
</html>
