<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terminverwaltung</title>
    <link rel="stylesheet" href="css/terminverwaltung/terminverwaltung.css" />
    <script src="javascript/anwendungsschicht/navigation/navigation.js"></script>
    <script src="javascript/anwendungsschicht/terminverwaltung/anwendungsschicht-terminverwaltung.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="left">
        <img
          src="path/to/your/profile-picture"
          alt="Profilbild"
          class="profile-picture"
        />
      </div>
      <div class="middle">
        <button class="nav-button">Startseite</button>
        <button class="nav-button">Benutzerverwaltung</button>
        <button class="nav-button">Autoverwaltung</button>
        <button class="nav-button active">Terminverwaltung</button>
      </div>
      <div class="right">
        <button class="nav-button">Konto</button>
        <button class="nav-button">AGB</button>
        <button class="nav-button">Impressum</button>
      </div>
    </div>
    <div class="body">
      <div class="optionen">
        <button>Timeslot erstellen</button>
        <button>Meine Termine</button>
        <button>Alle Termine</button>
        <button>Termin löschen</button>
      </div>
    </div>
  </body>
</html>
