<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terminverwaltung</title>
    <link
      rel="stylesheet"
      href="css/terminverwaltung/terminverwaltung-schueler.css"
    />
    <script src="javascript/praesentationsschicht/messages/messages.js"></script>
  </head>
  <body>
    <div class="body">
      <h1 id="terminverwaltung">Terminverwaltung</h1>
      <div class="dropdown-container">
        <label for="fahrlehrer-dropdown" id="fahrlehrerLabel">Fahrlehrer:</label>
        <select id="fahrlehrer-dropdown" onchange="enableCalendar()">
          <option value="" selected id="waehleFahrlehrer">Wählen Sie einen Fahrlehrer</option>
        </select>
      </div>
      <div class="calendar-container">
        <label for="date-input" id="datum">Datum:</label>
        <input type="date" id="date-input" oninput="checkWeekday()" disabled />
        <div id="error-message" style="display: none; color: red">
          Bitte wählen Sie einen Wochentag (Montag bis Freitag) aus.
        </div>
      </div>
      <div class="time-slot-container">
        <label for="time-slot-dropdown" id="terminslot">Terminslot:</label>
        <select id="time-slot-dropdown" disabled>
          <option value="" selected id="waehleTerminslot">Wählen Sie einen Terminslot</option>
        </select>
      </div>
      <button class="submit-button" onclick="bookTermin()" id="terminBuchenButton">
        Termin buchen
      </button>
    </div>
    <script src="javascript/anwendungsschicht/terminverwaltung/anwendungsschicht-terminverwaltung-schueler.js"></script>
    <script src="javascript/datenschicht/terminverwaltung/datenschicht-terminverwaltung-schueler.js"></script>
    <script src="javascript/praesentationsschicht/terminverwaltung/praesentationsschicht-terminverwaltung-schueler.js"></script>
  </body>
</html>
