<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Benutzer anlegen</title>
    <link
      rel="stylesheet"
      href="css/benutzerverwaltung/benutzerverwaltung-anlegen.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
    />
    <script src="javascript/anwendungsschicht/navigation/navigation.js"></script>
    <script src="javascript/anwendungsschicht/benutzerverwaltung/anwendungsschicht-benutzerverwaltung-anlegen.js"></script>
    <script src="javascript/datenschicht/benutzerverwaltung/datenschicht-benutzerverwaltung-anlegen.js"></script>
    <script src="javascript/praesentationsschicht/benutzerverwaltung/praesentationsschicht-benutzerverwaltung-anlegen.js"></script>
  	<script src="javascript/praesentationsschicht/messages/messages.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="left">
        <img
          src="path/to/your/profile-picture"
          alt="Profilbild"
          class="profile-picture"
        />
      </div>
      <div class="middle">
			<button class="nav-button" id="startseiteNavBarButton">Startseite</button>
			<button class="nav-button active" id="benutzerverwaltungNavBarButton">Benutzerverwaltung</button>
			<button class="nav-button" id="autoverwaltungNavBarButton">Autoverwaltung</button>
			<button class="nav-button" id="terminverwaltungNavBarButton">Terminverwaltung</button>
		</div>
		<div class="right">
			<button class="nav-button" id="kontoNavBarButton">Konto</button>
			<button class="nav-button" id="agbNavBarButton">AGB</button>
			<button class="nav-button" id="impressumNavBarButton">Impressum</button>
		</div>
    </div>
    <div class="body">
      <div class="ueberschrift">
        <h1 id="benutzerAnlegenUeberschrift">Benutzer anlegen</h1>
      </div>
      <form id="user-form">
        <div class="form-group">
          <label for="vorname" id="vornameLabel">Vorname:</label>
          <input type="text" id="vorname" name="vorname" required />
        </div>
        <div class="form-group">
          <label for="nachname" id="nachnameLabel">Nachname:</label>
          <input type="text" id="nachname" name="nachname" required />
        </div>
        <div class="form-group">
          <label for="geburtstag" id="geburtsdatumLabel">Geburtsdatum:</label>
          <input type="date" id="geburtstag" name="geburtstag" required />
        </div>
        <div class="form-group">
          <label for="strasse" id="strasseLabel">Straße:</label>
          <input type="text" name="strasse" id="strasse" required />
        </div>
        <div class="form-group">
          <label for="hausnummer" id="hausnummerLabel">Hausnummer:</label>
          <input type="text" name="hausnummer" id="hausnummer" required />
        </div>
        <div class="form-group">
          <label for="ort" id="ortLabel">Ort:</label>
          <input type="text" name="ort" id="ort" required />
        </div>
        <div class="form-group">
          <label for="plz" id="plzLabel">PLZ:</label>
          <input type="text" name="plz" id="plz" required />
        </div>
        <div class="icon-radio">
          <label>
            <input type="radio" name="role" value="Fahrschüler" />
            <i class="fas fa-user-graduate"></i> <p id="fahrschuelerLabel">Fahrschüler</p>
          </label>
          <label>
            <input type="radio" name="role" value="Fahrlehrer" />
            <i class="fas fa-chalkboard-teacher"></i> <p id="fahrlehrerLabel">Fahrlehrer</p>
          </label>
        </div>
        <button type="submit" id="erstellenButton">Erstellen</button>
      </form>
    </div>
  </body>
</html>
