<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Suche nach Fahrschülern</title>
    <link
      rel="stylesheet"
      href="css/benutzerverwaltung/sucheFahrschueler.css"
    />
    <script src="javascript/anwendungsschicht/navigation/navigation.js"></script>
    <script src="javascript/anwendungsschicht/benutzerverwaltung/anwendungsschicht-sucheFahrschueler.js"></script>
    <script src="javascript/datenschicht/benutzerverwaltung/datenschicht-sucheFahschueler.js"></script>
    <script src="javascript/praesentationsschicht/benutzerverwaltung/praesentationsschicht-sucheFahrschueler.js"></script>
    <script src="javascript/praesentationsschicht/messages/messages.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="left">
        <img
          src="path/to/your/profile-picture"
          alt="Profilbild"
          class="profile-picture"
        />
      </div>
      <div class="middle">
			<button class="nav-button" id="startseiteNavBarButton">Startseite</button>
			<button class="nav-button active" id="benutzerverwaltungNavBarButton">Benutzerverwaltung</button>
			<button class="nav-button" id="autoverwaltungNavBarButton">Autoverwaltung</button>
			<button class="nav-button" id="terminverwaltungNavBarButton">Terminverwaltung</button>
		</div>
		<div class="right">
			<button class="nav-button" id="kontoNavBarButton">Konto</button>
			<button class="nav-button" id="agbNavBarButton">AGB</button>
			<button class="nav-button" id="impressumNavBarButton">Impressum</button>
		</div>
    </div>
    <div class="body">
      <h1 id="fahrschuelerSuchenUeberschrift">Fahrschüler suchen</h1>

      <div class="suche">
        <label id="nameLabel">Name</label>
        <input type="text" id="search-input" placeholder="Name" />
      </div>
      <p class="gefundene-schueler" id="gefundeneSchueler">Gefundene Schüler</p>
      <div id="liste-schueler" class="liste-schueler"></div>
      <p id="results"></p>
      <button type="submit" id="uebersichtButton">Übersicht</button>
    </div>
  </body>
</html>
