<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auto löschen</title>
    <link
      rel="stylesheet"
      href="css/autoverwaltung/autoverwaltung-loeschen.css"
    />
    <script src="javascript/anwendungsschicht/navigation/navigation.js"></script>
    <script src="javascript/datenschicht/autoverwaltung/datenschicht-autoverwaltung-loeschen.js"></script>
    <script src="javascript/anwendungsschicht/autoverwaltung/anwendungsschicht-autoverwaltung-loeschen.js"></script>
    <script src="javascript/praesentationsschicht/autoverwaltung/praesentationsschicht-autoverwaltung-loeschen.js"></script>
  	<script src="javascript/praesentationsschicht/messages/messages.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="left">
        <img
          src="path/to/your/profile-picture"
          alt="Profilbild"
          class="profile-picture"
        />
      </div>
		<div class="middle">
			<button class="nav-button" id="startseiteNavBarButton">Startseite</button>
			<button class="nav-button" id="benutzerverwaltungNavBarButton">Benutzerverwaltung</button>
			<button class="nav-button active" id="autoverwaltungNavBarButton">Autoverwaltung</button>
			<button class="nav-button" id="terminverwaltungNavBarButton">Terminverwaltung</button>
		</div>
		<div class="right">
			<button class="nav-button" id="kontoNavBarButton">Konto</button>
			<button class="nav-button" id="agbNavBarButton">AGB</button>
			<button class="nav-button" id="impressumNavBarButton">Impressum</button>
		</div>
    </div>
    <div class="body">
      <div class="ueberschrift">
        <h1 id="autosLoeschenButton">Auto löschen</h1>
      </div>
      <form id="auto-form">
        <div class="form-group">
          <label for="id" id="autoIDLabel">Auto ID:</label>
          <input type="text" id="id" name="id" required />
        </div>
        <button type="button" onclick="deleteCar()" id="loeschenButton">Löschen</button>
      </form>
    </div>
  </body>
</html>
